html {
  width: 100%;
}
html body {
  background-color: #f4f4f4;
}
html body.main .head {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px;
}
html body.main .head .logo {
  font-size: 32px;
  width: 120px;
  height: 50px;
}
html body.main .head .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
html body.main .head .menu {
  display: flex;
}
html body.main .head .menu li {
  width: 100%;
}
html body.main .head .menu .accountIcon {
  cursor: pointer;
}
html body.main .head .menu .accountIcon a {
  display: block;
  background-image: url("/src/img/account.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  width: 40px;
  height: 50px;
}
html body.main .head .menu .searchIcon {
  cursor: pointer;
}
html body.main .head .menu .searchIcon a {
  display: block;
  background-image: url("/src/img/searchIcon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  width: 40px;
  height: 50px;
}
html body.main .head .menu .menuIcon {
  cursor: pointer;
}
html body.main .head .menu .menuIcon a {
  display: block;
  background-image: url("/src/img/mMenu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  width: 40px;
  height: 50px;
}
html body.main .page {
  margin: 0 80px;
}
html body.main .page .land {
  display: flex;
}
html body.main .page .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  gap: 80px;
}
html body.main .page .row .portrait {
  width: calc(40% - 40px);
}
html body.main .page .row .portrait img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body.main .page .row .landscape {
  width: calc(60% - 40px);
}
html body.main .page .row .landscape img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body.main .page .row .landscape-02 {
  width: calc(50% - 22px);
}
html body.main .page .row .landscape-02 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body.main .page .row .portrait-02 {
  width: calc(25% - 22px);
}
html body.main .page .row .portrait-02 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body.main .page .home-img {
  width: 70%;
  margin-bottom: 80px;
}
html body.main .page .m-list {
  width: 30%;
  font-size: 26px;
  text-align: right;
}
html body.main .page .m-list ul {
  margin-bottom: 25px;
  text-transform: uppercase;
}
html body.main .page .m-list ul li {
  margin-top: 5px;
  margin-bottom: 15px;
}
html body.main .page .m-list ul li:first-child {
  margin-top: 5px;
  font-size: 10px;
  letter-spacing: 1px;
  margin-right: -1px;
  font-family: "Verlag", sans-serif;
}
html body.main .page .m-list ul li:not(:first-child) {
  letter-spacing: 7px;
  margin-right: -7px;
  font-family: "Chronicle Text G1", serif;
}
html body.main .page .m-list ul li.store {
  margin-top: 40px;
}

.blind {
  visibility: hidden;
}/*# sourceMappingURL=common.css.map */