html {
  width: 100%;
  

  body {
    background-color: #f4f4f4;

    &.main {

      .head {
        display: flex;
        justify-content: space-between;
        padding: 30px 80px;

        .logo {
          font-size: 32px;
          width: 120px;
          height: 50px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .menu {
          display: flex;

          li {
            width: 100%;
          }
          .accountIcon {
            cursor: pointer;

            a {
              display: block;
              background-image: url("/src/img/account.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 14px 14px;
              width: 40px;
              height: 50px;
            }
          }
          .searchIcon {
            cursor: pointer;

            a {
              display: block;
              background-image: url("/src/img/searchIcon.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 14px 14px;
              width: 40px;
              height: 50px;
            }
          }
          .menuIcon {
            cursor: pointer;

            a {
              display: block;
              background-image: url("/src/img/mMenu.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 17px 17px;
              width: 40px;
              height: 50px;
            }
          }
        }
      }

      .page {
        margin: 0 80px;
        .land {
          display: flex;
        }
        .row {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          padding: 0;
          margin: 0;
          justify-content: space-between;
          gap: 80px;

          .portrait {
            width: calc(40% - 40px);

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .landscape {
            width: calc(60% - 40px);

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .landscape-02 {
            width: calc(50% - 22px);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .portrait-02 {
            width: calc(25% - 22px);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .home-img {
          width: 70%;
          margin-bottom: 80px;
        }
        .m-list {
          width: 30%;
          font-size: 26px;
          text-align: right;

          ul {
            margin-bottom: 25px;
            text-transform: uppercase;

            li {
              margin-top: 5px;
              margin-bottom: 15px;
              
              &:first-child {
                margin-top: 5px;
                font-size: 10px;
                letter-spacing: 1px;
                margin-right: -1px;
                font-family: "Verlag", sans-serif;
              }
              &:not(:first-child) {
                letter-spacing: 7px;
                margin-right: -7px;
                font-family: 'Chronicle Text G1', serif;
              }
              &.store {
                margin-top: 40px;
              }
            }
          }
        }
      }
    }
  }
}
.blind {
  visibility: hidden;
}